.start
    .start__container
        .start__title Shooter
        .start__text.
            Spacebar - to shoot
            On mobile: hold your finger on the warship
        button(id='playButton' class='start__btn') Play
.over._hidden
    .over__container
        .over__title Game over
        .over__text
        .over__btn Play again
.game-container#game-container
    .player#player
    .score#score Score: 0





